<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Talkaway_AI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEB35FF52AB2C5AA007A69B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEB360052AB2C5AC007A69B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEB3600F2AB2C5AC007A69B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
